<!-- توی این نمایش یک توصیف کوتاه از کاربرد این نرم افزار آورده شده. این
نمایش نیازی به کنترلر نداره. -->
<h1>جهانجو</h1>

<p>جهان جو یک سیستم کلود برای مدیریت مکان‌ها و نقشه است. این سرور به
	صورت عمومی در اختیار شما است . علاوه بر این شما می‌تواند یک سرویس
	اختصاصی داشته باشید و مکان‌های مورد نظر خود را به سادگی مدیریت کنید.</p>

<p>این نرم افزار استفاده از بسته جاواسکریپت جهانجو را برای جستجوی
	مکان‌ها به شما آموزش می‌دهد.</p>
