<div class="jumbotron">
	<h1>جهانجو</h1>
	<p class="lead">
		<img src="images/logo.png" alt="jahanjoo.ir"><br> مدیریت
		نقشه و مکان‌ها با سرویس‌های ابری.
	</p>
	<p>
		<a class="btn btn-lg btn-success" ng-href="#!/about">در مورد ما<span
			class="glyphicon glyphicon-ok"></span></a> <a
			class="btn btn-lg btn-success" ng-href="#!/tutorial">آموزش گام به
			گام<span class="glyphicon glyphicon-ok"></span>
		</a>
	</p>
</div>

<div class="row marketing">
	<form>
		Latitude: <input type="text" name="longitude"
			ng-model="point.longitude"> Longitude: <input type="text"
			name="latitude" ng-model="point.latitude">
		<button ng-click="search(point)">برو</button>
	</form>
	<p>مختصات جغرافیایی مورد نظر خورد را در این دو فیلد وارد کرده و
		برای جستجو دکمه برو را کلیک کنید. برای نمونه نقطه‌های زیر رو به عنوان
		نقطه مبدا برای جستجو تعیین کنید.</p>
	<table>
		<tr>
			<td>longitude</td>
			<td>51.45477800</td>
		</tr>
		<tr>
			<td>latitude</td>
			<td>35.71037600</td>
		</tr>
	</table>
</div>

<div class="row marketing">
	<table class="table-fill">
		<thead>
			<tr>
				<th>شناسه</th>
				<th>نام</th>
				<th>توضیحات</th>
				<th>طول</th>
				<th>عرض</th>
			</tr>
		</thead>
		<tr ng-repeat="location in locations.items">
			<td>{{location.id}}</td>
			<td>{{location.name}}</td>
			<td>{{location.description}}</td>
			<td>{{location.longitude}}</td>
			<td>{{location.latitude}}</td>
		</tr>
	</table>
</div>